body{
    width: 100%;
    max-height: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg, #a3d1da, #A696ff);
    background-repeat: no-repeat;
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.form-box{
    padding: 3rem;
    border: 3px solid #000;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}


.input-box{
    display: flex;
    flex-direction: column;
}


.btn {
    width: 200px;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    transition: 0.3s;
    margin: 1rem;
    float: right;
  }
  
.btn:hover {
    background-color: #90011e;
}
  

.img-gravidade{
    width: 3rem;
}

.footer-form{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}