body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, #a3d1da, #A696ff);
    background-repeat: no-repeat;
}

.text-box{
    color: #fff;
    position: absolute;
    bottom: 20%;
    width: 30%;
}

.text-box p{
    font-size: 40px;
    font-weight: 600;
}

.text-box h1{
    font-size: 150px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../img/png/animation.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text-box h3{
    font-size: 20px;
    font-weight: 200;
}

.img-box{
    /* background: #d9e0ff; */
    position: absolute;
    top: 0;
    right: 12%;   
    z-index: 1;
}

.img-box img{
    display: block;
    padding-top: 150px;
    width: 560px;
    margin-bottom: -205rem;
}

a{
    text-decoration: none;
}
