body{
    width: 100%;
    max-height: 100%;
    min-height: 100vh;
    background: linear-gradient(100deg, #a3d1da, #A696ff);
    background-repeat: no-repeat;
}

.hero{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding: 10px 10%;
}


.corpo{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* gap: 3px; */
    flex-wrap: wrap;
    width: 60%;
    padding: 1rem;

}

.img-perfil{
    width: 40%;
    float: left;
}

.img{
    width: 320px;
}
.heading{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

h2{
    font-size: 3rem;
    font-weight: 600;
}

.input-box{
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background: #df48822a;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}

.input-box span{
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: black;
}


.btn {
    width: 200px;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    /* margin-bottom: 2rem; */
    transition: 0.3s;
    margin: 1.4rem;
    float: right;
  }
  
.btn:hover {
    background-color: #90011e;
}

.form-footer{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;

}

a{
    text-decoration: none;
}


@media (max-width: 1245px) {
    .img-perfil{
       width: 10%;
       display: flex;
       align-items: baseline;
    }

    .img{
        width: 250px;
    }

    .corpo{
        flex-direction: row;
        align-items: center;
        width: 80%;
        padding-left: 12rem;
    }
}


@media (max-width: 1206px) {
    .img-perfil{
       display: none;
       width: 0%;
    }
    .corpo{
        width: 100%;
        padding: 0;
    }   
}

@media (max-width: 835px) { 
    .form-footer{
        flex-wrap: wrap;
        justify-content: center;
    }
}