body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, #a3d1da, #A696ff);
    background-repeat: no-repeat;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #ffffff7e;
    width: 100%;
}

.content-table thead tr {
    background-color: #90011e;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
  
.content-table th, .content-table td {
    padding: 0.8rem 0.9rem;
}
  
   
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.content-table tbody tr:last-of-type {
    border-bottom: 1px solid #f3f3f3;
}
  

tr:hover td {
    color: #90011e;
    cursor: pointer;
    background-color: #ffffff;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

a{
    text-decoration: none;
    color: black;
}

.underline:hover{
    color:#90011e;
    text-decoration: underline;
}


.heading{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
